.entireJokePage{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.jokesMap{
  display: flex;
  flex-direction: column;

}

.punchLineDiv{

  display: flex;
  justify-content: center;
  margin-top: 2rem;
}



.punchLineOff{
  color: #04c2f2;
  display: block;
}

.punchLineOn{
  animation-name: flash;
   animation-duration: 0.2s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-play-state: running;
   width: 65%;
   padding-top: 2rem;
   font-weight: bolder;
   margin: 0 auto;
}

.punchLine{

}

.alljokes{

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.arrows{
  padding-top: 1rem;
}

.buttonAndArrowsTogether{
  position: fixed;
  align-items: center;
      bottom: 1rem;
      width: 100%
}

.getJokesButton{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.getJokesButton Button{

}

.jokeView{
  width: 75%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

#red {
  color: white;
  border: 1px solid white;
}

#blue{
  color: white;
  border: 1px solid white;
}

.jokes li{
  font-size: 50px;
  /* padding-bottom: 5rem; */

}

.bottomButton{
  margin-top: 1rem;
}

/* .jokeDisplay{
  padding-bottom: 300px;
  display: flex;
  flex-wrap: wrap;
} */

#active li{
  display: none;
}

#active{
  background-color: #04c2f2;
animation-name: laser;
animation-duration: 0.1s;
animation-timing-function: linear;
animation-iteration-count: infinite;
animation-direction: alternate;
animation-play-state: running;
  }


  @keyframes laser {
    from {background-color: #04c2f2;}
    to {background-color: red;}
}

#fist{
  font-size: 2rem;
}

.flash:hover {
   animation-name: flash;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: white;}
    to {color: blue;}
}

h1.inactive{
display:none;
}

h1.active{
  font-size: 5em;
  padding-top: ;
}


img.off{
display: none ;
margin: 0 15px;
height: 20px;
width: 20px;
}

img.arrowOn{
  display: inline;
  margin: 0 15px;
  height: 20px;
  width: 20px;
  -webkit-filter: invert(100%);
}



#arrow1 {
transform: rotate(.2turn);
}

#arrow2 {
transform: rotate(.15turn);
}

#arrow3 {
transform: rotate(.12turn);
}

#arrow4 {
transform: rotate(.10turn);
}

#arrow5 {
transform: rotate(.02turn);
}

#bottomForm{
  padding-bottom: 200px;
}


@media screen and (max-width: 895px) {
  .jokes li {
    font-size: 7vw;
  }
}

@media screen and (max-width: 895px) {
  .jokeDisplay{
    padding-bottom: 0;
  }
}
