.doggo {
border: 10px solid white;
height: 90%;
width: auto;
border-radius: 10px;
background-color: white;

}
.doggo img{
    object-fit: contain;
    height: 100%;
}

.doggo video{
    object-fit: contain;
    height: 100%;
    max-width: 800px;

}

.textStuff {
    justify-content: center;
    background-color: burlywood;
    border-radius: 22px;
    border: 3.5px solid tomato;
    max-width: 1000px;
    min-width: 50%;
    height: 650px;
}
.dogbutton {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: white;
    height: 50px;
    width: 100px;
    border: 3px solid white;
    background-color:tomato;
    border-radius: 5px;
    margin-bottom: 20px;

}
@media screen and (max-width: 375px) {
    .textStuff {
    padding: 0px 8px;
    margin: 0px;
    object-fit: contain;
    }
    .doggo {
     object-fit: contain;
     margin: 1px 1px;
     padding: 1px 1px;
    }
    .dogbutton {
        font-size: .70rem;
        margin: 5px; 
    }
    .doggo video{
        object-fit: contain;
        height:100%;
        max-width: 310px;
    }
  }

@media screen and (max-width: 675px) {
    .textStuff {
        padding: 0px 2px;
        margin: 3px;
    object-fit: contain;
    
    }
    .dogbutton {
        margin: 2px; 
        object-fit: contain;
        
    }
    .doggo video{
        object-fit: contain;
        height:100%;
       
       
        
    }
  }